@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Evita el desplazamiento innecesario de la barra de scroll */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-gutter: stable;
    font-family: 'Roboto', sans-serif;
}

/* Ocultar scrollbar */
body {
    -ms-overflow-style: none;
    scrollbar-width: thin;
}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(170, 170, 170, 0.8);
    border-radius: 4px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Hero Section */
.hero {
    background: url('./images/hero.jpg') no-repeat center center/cover;
    height: 85vh;
    display: flex;
    color: #fff;
}

.hero-content{
    display: flex;
    flex-direction: column;
    margin: 10vh;
    line-height: 1px;
}

#brand {
    width: 445px;
    height: 81px;
    background: url('./images/brand.svg') no-repeat center center/cover;
}

#landCO{
    width: 725px;
    height: 134px;
    margin-top: 10vh;
    background: url('./images/landCo.svg') no-repeat center center/cover;
}

.hero-content p {
    font-size: 26px;
    font-weight: 700;

}

.financing {
    margin-top: 5vh;
    font-size: 24px;
    font-weight: 500;
    }

#santander {
    width: 139px;
    height: 64px;
    background: url('./images/Santander.svg') no-repeat center center/cover;
}

/* Features Section */
.features {
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #505050;
}

.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}

.feature-item span {
    font-size: 18px;
    font-weight: 700;
    color: #cfcfcf;
}

#feature1{
    width: 49px;
    height: 34px;
    background: url('./images/feature1.svg') no-repeat center center/cover;
}

#feature2{
    width: 63px;
    height: 42px;
    background: url('./images/feature2.svg') no-repeat center center/cover;
}

#feature3{
    width: 57px;
    height: 41px;
    background: url('./images/feature3.svg') no-repeat center center/cover;
}

#feature4{
    width: 34px;
    height: 34px;
    background: url('./images/feature4.svg') no-repeat center center/cover;
}

#feature5{
    width: 36px;
    height: 36px;
    background: url('./images/feature5.svg') no-repeat center center/cover;
}

.marcaDeAgua{
    width: 235px;
    height: 235px;
    background: url('./images/marcaDeAgua.svg') no-repeat center center/cover;
    margin-top: 135px;
}

.description{
    height: 75vh;
    display: flex;
    align-items: center;
    padding: 3rem 4rem ;
    margin-top: -450px;
    gap: 100px;
    justify-content: space-around;
}

#description1{
    margin-top: -500px;
}

.container {
    width: 35vw;
    height: 420px;
    display: flex;
    justify-content: space-between
}

#sientete{
    width: 444px;
    height: 230px;
    background: url('./images/Sientete.svg') no-repeat center center/cover;
    z-index: 10;
}

#piscina{
    width: 444px;
    height: 177px;
    background: url('./images/piscina.jpg') no-repeat center center/cover;
}

.description-text{
    width: 680px;
    height: 420px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.description-text p{
    font-weight: 400;
    font-size: 19px;
}

/* 3er*/
.section-gray {
    height: 35vh;
    background-color: #CFCFCF;
    display: flex;
    padding: 8rem 8rem;
    gap: 2rem; 
}

.text-left {
    width: 667px;
    height: 222px;
    font-size: 19px;
    line-height: 28px;  
}

#enUnaUniversidad{
    width: 667px;
    height: 330px;
    background: url('./images/enUnaUniversidad.svg') no-repeat center center/cover;
}

#arroyo{
    height: 100vh;
    background: url('./images/arroyo.png') no-repeat center center/cover;
}

#enElDistrito{
    width: 474px;
    height: 231px;
    background: url('./images/enElDistrito.svg') no-repeat center center/cover;
}

#map{
    margin-top: -100px;

}
#container2{
    height: 20vh;
    background-color: #cfcfcf;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ubicacion{
    height: 65px;
    width: 444px;
    background: url('./images/ubicacion.svg') no-repeat center center/cover;
}

.container2 p{
    font-size: 22px;
    font-weight: 400;
}

#maps{
    height: 90vh;
    background: url('./images/maps.png') no-repeat center center/cover;
}

/* Sección del video */
#video {
    position: relative;
    overflow: hidden;
    text-align: center;
    color: #ffffff;
    height: 100vh;
}

/* Configuración del video de fondo */
#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Estilo para el formulario */
#video .contact-form {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.3); /* Fondo semitransparente */
    padding: 3rem;
    border-radius: 20px;
    width: 90%;
    max-width: 548px;
    text-align: left;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 50px;
}

#video .contact-form h3 {
    margin-bottom: 1rem;
    font-size: 26px;
}

/* Estilo para las entradas */
#video input[type="text"],
#video input[type="email"],
#video input[type="tel"],
#video input[type="info"] {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: none;
    font-size: 18px;
    font-weight: 400;
    background-color: transparent; /* Fondo transparente */
    border-bottom: 1px solid #fff; /* Línea inferior */
    color: rgba(255, 255, 255, 1);
    line-height: 21px;
}



/* Estilo para el botón */
#video button {
    width: 164px;
    height: 42px;
    padding: 0.75rem;
    border: none;   
    border-radius: 30px;
    background-color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#video button:hover {
    background-color: #b88e2f;
}

#footerForm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 30px;
}


